/* ----------------------------------------------------------------------------
   # Created by: ThemeShifters
   # Date: January 13, 2013
   # Website: http://themeshifters.com
   # Main Stylesheet for ThemeShifters Documentation
   # Version: 1.0
   ---------------------------------------------------------------------------- */

/* Table of Content
==================================================
	# Default
	# Typography
	# Color Settings
	# CSS3
	# Main Navigation
	# Layout
	# Lists
	# Header
	# Misc.
*/

/*	==================================================
	# Default
	================================================== */
	html {
	    -webkit-font-smoothing: antialiased;
	}
	body {
		font-family: 'Roboto', Arial;
		font-weight: 300;
		color: #636363;
	}
	a:focus {
		outline: 0px;
	}
	a:hover,
	a:focus {
		text-decoration: none;
	}

/*	==================================================
	# Typography
	================================================== */
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	.package-header,
	.special-font,
	.tagline {
		font-weight: bold;
		color: #3d3d3d;
	}
	.section-title {
		margin-bottom: 40px;
		font-size: 32px;
	}
	.sub-title {
		font-size: 14px;
		padding: 15px;
		background: #f10425;
		color: #fff;
		display: inline-block;
		margin: 20px 0px 40px;
		font-weight: 600;
	}
	.tagline {
		font-weight: 600;
		font-size: 30px;
		line-height: 40px;
		margin-bottom: 40px;
	}
	h3 {
		font-size: 20px;
		margin: 35px 0px 25px;
	}
	.special {
		color: #999;
		font-weight: normal;
	}

	p {
		line-height: 25px;
		margin-bottom: 20px;
	}
	.lead {
		margin-top: 30px;
	}


/*	==================================================
	# Color Settings
	================================================== */
	a {
		color: #f00423;
	}
	a:hover {
		color: #000;
		text-decoration: none;
	}
	.font-white h1,
	.font-white h2,
	.font-white h3,
	.font-white h4,
	.font-white h5,
	.font-white h6 {
		color: #fff;
	}

/*	==================================================
	# CSS3
	================================================== */	
	a,
	img {
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
		transition: all 0.3s ease;
	}

/*	==================================================
	# Main Navigation
	================================================== */
	.main-nav {
		position: fixed;
		left: 0px;
		top: 0px;
		bottom: 0px;
		background: #333;
		width: 150px;
		z-index: 200;
	}
	.main-nav li,
	.main-nav a {
		color: #fff;
		text-transform: uppercase;
		font-size: 11px;
	}
	.main-nav .nav-title {
		font-size: 14px;
		text-transform: none;
	}
	.main-nav li a:hover,
	.main-nav li a:focus,
	.main-nav .current-menu-item a {
		background-color: #111!important;
	}

/*	==================================================
	# Layout
	================================================== */
	.header-type {
		margin: 50px 0;
	}
	.content-type {
		margin-bottom: 50px;
	}

/*	==================================================
	# Lists
	================================================== */
	ul {
		margin-bottom: 25px;
	}

/*	==================================================
	# Header
	================================================== */
	.logo {
		font-size: 24px;
		padding: 50px 0;
	}
	.theme-name {
		display: block;
		font-size: 36px;
		font-weight: bold;
		text-transform: uppercase;
	}

/*	==================================================
	# Misc.
	================================================== */
	.divider {
		height: 1px;
		width: 100%;
		background: #ddd;
		margin: 45px 0;
	}
	.syntaxhighlighter {
		margin-bottom: 35px!important;
	}